* {
  font-family: 'Raleway', sans-serif;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

/*header*/

.header {
  background: url('../img/background.png') no-repeat center;
  padding-top: 50px;
  padding-bottom: 167px;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.preview {
  display: flex;
  justify-content: space-between;
}

.container__preview {
  margin-bottom: 150px;
}

.preview__logo {
  background:url('../img/logo.png') no-repeat center;
  height: 26px;
  width: 104px;
}

.preview__social {
  background: url('../img/socialities.png') no-repeat center;
  height: 25px;
  width: 88px;
}

.solution-info {
  text-align: center;
}

.container__solution-info {
  margin-bottom: 66px;
}

.solution-info__title {
  font-size: 45px;
  color: #ffffff;
}

.solution-info__title_color_blue {
  color: #0199e6;
  font-weight: bold;
}

.solution-info__text {
  font-size: 20px;
  color: #828688;
  line-height: 30px;
}

.register {
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 25px;
  margin: 0 auto;
}

.register__item {
  background-color: transparent;
  border: 1px solid #05364f;
  border-left: 3px solid #0199e6;
  outline: 0;
  padding: 20px;
  color: #808080;
  width: 181px;
}

.register__btn {
  color: #ffffff;
  background-color: #008ed6;
  border-radius: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 42px;
  line-height: 61px;
  font-weight: bold;
}

.register_container {
  width: 945px;
  margin: 0 auto;
}

.container__register {
  margin-bottom: 22px;
}

.header__tip {
  color: #ffffff;
  margin-left: 660px;
  font-size: 14px;
  position: relative;
}

.header__tip::after {
  content: '';
  position: absolute;
  background: url('../img/header-arrow.png') no-repeat center;
  height: 26px;
  width: 34px;
  top: -15px;
  right: -48px;
}

.main {
  background-color: #ffffff;
}

.awesomeness {
  display: flex;
  justify-content: space-between;
}

.container__awesomeness {
  padding: 100px 0;
}

.awesomeness__img {
  background: url('../img/window.png') no-repeat center;
  height: 424px;
  width: 532px;
}

.title {
  font-size: 26px;
  font-weight: normal;
  margin: 0;
  position: relative;
  margin-bottom: 53px;
}

.title::after {
  content: '';
  position: absolute;
  background-color: #0199e6;
  height: 2px;
  width: 68px;
  bottom: -28px;
  left: 0;
}

.text {
  margin-top: 0;
  line-height: 25px;
  color: #727272;
  margin-bottom: 50px;
}

.paragraph {
  display: flex;
  justify-content: flrx-start;
}

.paragraph__text_last {
  margin-bottom: 0;
}

.paragraph__advantage-title {
  font-size: 14px;
  display: inline-block;
  margin-top: 0;
  vertical-align: top;
}

.paragraph__setting-img {
  display: inline-block;
  background: url('../img/settings.png') no-repeat center;
  height: 33px;
  width: 32px;
}

.paragraph__info {
  margin-left: 15px;
}

.paragraph__thunder-img {
  display: inline-block;
  background: url('../img/thunder.png') no-repeat center;
  height: 33px;
  width: 32px;
}

.main_bg_grey {
  background-color: #f7f8fa;
}

.features {
  padding-top: 115px;
  padding-bottom: 105px;
}

.container__landx-features {
  padding-top: 30px;
}

.features__title {
  margin-bottom: 44px;
  text-align: center;
}

.features__text {
  text-align: center;
}

.landx-features__title {
  font-size: 16px;
  margin-bottom: 25px;
}

.features__title::after,
.table__title::after {
  left: 552px;
}

.landx-features {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: center;
}

.landx-features__item:nth-child(1),
.landx-features__item:nth-child(2),
.landx-features__item:nth-child(3) {
  margin-bottom: 80px;
}

.landx-features__img {
  height: 50px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.landx-features__img_number_one {
  background: url('../img/features-first.png') no-repeat center;
}

.landx-features__img_number_two {
  background: url('../img/features-second.png') no-repeat center;
}

.landx-features__img_number_three {
  background: url('../img/features-third.png') no-repeat center;
}

.landx-features__img_number_four {
  background: url('../img/features-fourth.png') no-repeat center;
}

.landx-features__img_number_five {
  background: url('../img/features-fifth.png') no-repeat center;
}

.landx-features__img_number_six {
  background: url('../img/features-sixth.png') no-repeat center;
}

.first-info_center {
  text-align: center;
}

.container__table {
  padding-top: 110px;
  padding-bottom: 100px;
}

.pricing-table__tick {
  background: url('../img/tick.png') no-repeat center;
  height: 18px;
  width: 11px;
  background-size: 122%;
}

.pricing-table__cross {
  background: url('../img/cross.png') no-repeat center;
  height: 18px;
  width: 11px;
  background-size: 122%;
}

.pricing-table {
  display: flex;
  justify-content: space-between;
}

.container__pricing-table {
  padding-top: 30px;
}

.pricing-table__item {
  width: 360px;
}

.pricing-table__rate {
  background-color: #323232;
  text-align: center;
  padding: 25px 0;
}

.pricing-table__rate_bg_blue {
  background-color: #0199e6;
}

.pricing-table__rate-name {
  color: #ffffff;
  font-size: 20px;
}

.pricing-table__rate-price {
  color: #c8c8c8;
}

.pracing-table_color_blue {
  color: #186992;
}

.pracing-table__rate-price_color_white {
  color: #ffffff;
}


.pricing-table__property {
  padding: 20px 32px;
  border-bottom: 1px dashed #eaeaea;
  background-color: #ffffff;
}

.pricing-table__content {
  border: 1px solid #eaeaea;
}

.pricing-table__feature {
  float: left;
}

.pricing-table__value,
.pricing-table__tick,
.pricing-table__cross {
  float: right;
}

